node_modules
.DS_Store
packages/moduleA/.DS_Store
packages/moduleB/.DS_Store
packages/moduleA/npm-debug.log
packages/moduleB/npm-debug.log
npm-debug.log
packages/moduleA/yarn-debug.log
packages/moduleB/yarn-debug.log
yarn-debug.log
packages/moduleA/yarn-error.log
packages/moduleB/yarn-error.log
yarn-error.log
packages/moduleA/lerna-debug.log
packages/moduleB/lerna-debug.log
lerna-debug.log
npm-debug.log.*
packages/moduleA/npm-debug.log.*
packages/moduleB/npm-debug.log.*
yarn-debug.log.*
packages/moduleA/yarn-debug.log.*
packages/moduleB/yarn-debug.log.*
yarn-error.log.*
packages/moduleA/yarn-error.log.*
packages/moduleB/yarn-error.log.*
lerna-debug.log.*
packages/moduleA/lerna-debug.log.*
packages/moduleB/lerna-debug.log.*
lib
.idea
.vscode
packages/moduleA/.vscode
packages/moduleB/.vscode
packages/moduleA/.idea
packages/moduleB/.idea
packages/moduleA/lib
packages/moduleB/lib
packages/moduleA/yarn.lock
packages/moduleB/yarn.lock
packages/moduleA/examples/element-ui
packages/moduleA/examples/pages/en-US
packages/moduleA/examples/pages/zh-CN
packages/moduleA/examples/pages/es
packages/moduleA/examples/pages/fr-FR
packages/moduleB/examples/element-ui
packages/moduleB/examples/pages/en-US
packages/moduleB/examples/pages/zh-CN
packages/moduleB/xamples/pages/es
packages/moduleB/examples/pages/fr-FR
packages/moduleB/fe.element/element-ui
packages/moduleA/fe.element/element-ui
packages/moduleA/.npmrc
packages/moduleB.npmrc
packages/moduleA/coverage
packages/moduleB/coverage
packages/moduleA/waiter.config.js
packages/moduleB/waiter.config.js
packages/moduleA/build/bin/algolia-key.js
packages/moduleB/build/bin/algolia-key.js
packages/moduleA/.envrc
packages/moduleB/.envrc

