node_modules
.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log
lerna-debug.log
npm-debug.log.*
yarn-debug.log.*
yarn-error.log.*
lerna-debug.log.*
lib
.idea
.vscode
packages/moduleA/.vscode
packages/moduleB/.vscode
packages/moduleA/.idea
packages/moduleB/.idea
packages/moduleA/lib
packages/moduleB/lib
packages/moduleA/yarn.lock
packages/moduleB/yarn.lock
packages/moduleA/examples/element-ui
packages/moduleA/examples/pages/en-US
packages/moduleA/examples/pages/zh-CN
packages/moduleA/examples/pages/es
packages/moduleA/examples/pages/fr-FR
packages/moduleB/examples/element-ui
packages/moduleB/examples/pages/en-US
packages/moduleB/examples/pages/zh-CN
packages/moduleB/xamples/pages/es
packages/moduleB/examples/pages/fr-FR
fe.element/element-ui
.npmrc
coverage
waiter.config.js
build/bin/algolia-key.js
.envrc

